body {
  margin: 0;
  padding: 0;
  background-image:url(http://buidln.clipdealer.com/002/483/741//previews/3--2483741-Sketchpad%20Doodles%20Texture.jpg);
}

#newgrid{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: #8CA0C7;
  border-radius: 5px 5px 0 0;
  margin:0;
  padding:0;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:620px;
  height:62px;
}

#newgrid:hover {
  cursor: pointer;
}

#head {
  font-family: 'Amatic SC', cursive;
  font-style: bold;
  font-size: 70px;
  text-align: center;
  display: block;
  color: #8CA0C7;
  margin-bottom: 30px;
}

#container {
  position: relative;
  height: 600px;
  width: 600px;
  border-color: #8CA0C7;
  border-width: 10px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin: 0;
  padding: 0;
  display:inline-block;
}
