body {
  margin: 0;
  padding: 0;
  background-color: #2875ef;
}

.input {
  position: relative;
  height: 100px;
  width: 600px;
  text-align: center;
  display: block;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}

#head {
  text-align: center;
  display: block;
  color: blue;
  font-size: 50px;
  margin-bottom: 30px;
}

#container {
  position: relative;
  height: 600px;
  width: 600px;
  border-width: 10px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin: 0;
  padding: 0;
  display:inline-block;
}
